<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>This is your Admin Dashboard</h2>
    <p>Click <a th:href="@{admin/allUsers}">here</a> to see all users.</p>
    <p>Click <a th:href="@{allFlights}">here</a>  all flghts.</p>
    <p>Click <a th:href="@{addFlight}">here</a>  to add flght.</p>



</div>
</body>
</html>